
.banner {
    color: white;
    background-color: #0B3986;
    text-align: center;
    text-size: 50px;
    font-family: Helvetica;
    margin: -8px;
    margin-bottom: 5px;
}
.banner_image {
    background-color: #0B3986;
    display: flex;
    height: 478px;
    justify-content: center;
    align-items: stretch;
    padding: 5px;
    margin: -8px;
}  
.left_banner_image {
    object-fit: cover;
}
.right_banner_image {
    object-fit: cover;
}
.subheading {
    text-align: center;
    text-size: 50px;
    color: #0B3986;
    font-family: Helvetica;
}
.intro_text {
    text-align: center;
    text-size: 50px;
    color: #0B3986;
    font-family: Helvetica;
}
.coat_of_arms {
    text-align: center;
}
.visit_right {
    text-align: left;
    text-size: 50px;
    color: #0B3986;
    font-family: Helvetica;
    float: left;
    margin: 100px auto 100px 610px;
}
.visit_left {
    text-align: left;
    text-size: 50px;
    color: #0B3986;
    font-family: Helvetica;
    float: right;
    margin: 100px 610px 100px auto;
}
.hippodrome_img {
    width: 500px;
    height: 500px;
    margin: 100px auto 100px 50px;
    background-image: url('images/hippodrome interior.jpg');
    background-size: cover;
    border: 5px solid #0B3986;
    border-radius: 5px;
}
.railway_img {
    width: 500px;
    height: 500px;
    margin: 100px 50px 100px auto;
    background-image: url('images/railway.jpg');
    background-size: cover;
    border: 5px solid #0B3986;
    border-radius: 5px;
}
.town_hall_img {
    width: 500px;
    height: 500px;
    margin: 100px auto 100px 50px;
    background-image: url('images/town hall 2.jpg');
    background-size: cover;
    border: 5px solid #0B3986;
    border-radius: 5px;
}
.kinneil_img {
    width: 500px;
    height: 500px;
    margin: 100px 50px 100px auto;
    background-image: url('images/kinneil estate.jpg');
    background-size: cover;
    border: 5px solid #0B3986;
    border-radius: 5px;
}
.hillclimb_img {
    width: 500px;
    height: 500px;
    margin: 100px auto 100px 50px;
    background-image: url('images/hillclimb.jpg');
    background-size: cover;
    border: 5px solid #0B3986;
    border-radius: 5px;
}
.nav {

    display: flex;
    justify-content: space-evenly;
    margin: 10px -8px 10px -8px;
    padding: 10px;
    background-color: #0B3986;
    color: white;
    font-family: Helvetica;
}
a:link {

    display: flex;
    justify-content: space-evenly;
    margin: 10px -8px 10px -8px;
    padding: 10px;
    background-color: #0B3986;
    color: white;
    font-family: Helvetica;
}

a:visited {

    display: flex;
    justify-content: space-evenly;
    margin: 10px -8px 10px -8px;
    padding: 10px;
    background-color: #0B3986;
    color: #de041d;
    font-family: Helvetica;
}
a:hover {

    display: flex;
    justify-content: space-evenly;
    margin: 10px -8px 10px -8px;
    padding: 10px;
    background-color: #0B3986;
    color: #E3BD00;
    font-family: Helvetica;
}
a:active {

    display: flex;
    justify-content: space-evenly;
    margin: 10px -8px 10px -8px;
    padding: 10px;
    background-color: #0B3986;
    color: black;
    font-family: Helvetica;
}
