
.banner {
    color: white;
    background-color: #0B3986;
    text-align: center;
    text-size: 50px;
    font-family: Helvetica;
    margin: -8px;
    margin-bottom: 5px;
}
.banner_image {
    background-color: #0B3986;
    display: flex;
    height: 478px;
    justify-content: center;
    align-items: stretch;
    max-width: auto;
    padding: 5px;
    margin: -8px;
}  
.subheading {
    text-align: center;
    text-size: 50px;
    color: #0B3986;
    font-family: Helvetica;
}
.intro_text {
    text-align: center;
    text-size: 50px;
    color: #0B3986;
    font-family: Helvetica;
}
.coat_of_arms {
    text-align: center;
}
.centred_image {
}
.nav {

    display: flex;
    justify-content: space-evenly;
    margin: 10px -8px 10px -8px;
    padding: 10px;
    background-color: #0B3986;
    color: white;
    font-family: Helvetica;
}
a:link {

    display: flex;
    justify-content: space-evenly;
    margin: 10px -8px 10px -8px;
    padding: 10px;
    background-color: #0B3986;
    color: white;
    font-family: Helvetica;
}

a:visited {

    display: flex;
    justify-content: space-evenly;
    margin: 10px -8px 10px -8px;
    padding: 10px;
    background-color: #0B3986;
    color: #de041d;
    font-family: Helvetica;
}
a:hover {

    display: flex;
    justify-content: space-evenly;
    margin: 10px -8px 10px -8px;
    padding: 10px;
    background-color: #0B3986;
    color: #E3BD00;
    font-family: Helvetica;
}
a:active {

    display: flex;
    justify-content: space-evenly;
    margin: 10px -8px 10px -8px;
    padding: 10px;
    background-color: #0B3986;
    color: black;
    font-family: Helvetica;
}
